<div>
    <div class="mx-auto cursor-pointer hover d-flex p-2 rounded-lg" (click)="Navigate('language')">
        <div class="icon-deact d-flex rounded-circle ltr-rotate-180">
            <mat-icon class="m-auto">language</mat-icon>
        </div>
        <div class="text-nm my-auto mx-2">
            {{ 'Settings.Language.Label' | translate }}
        </div>
        <span class="spacer"></span>
        <div class="icon d-flex rounded-circle rtl-rotate-180">
            <mat-icon class="m-auto scale-x1-5">keyboard_arrow_right</mat-icon>
        </div>
    </div>
</div>