<div (click)="changeTheme()" class="mx-auto cursor-pointer hover d-flex p-2 rounded-lg">
    <div class="d-flex">
        <div class="icon-deact rounded-circle">
            <mat-icon class="m-auto dark-mode-icon">
                brightness_2
            </mat-icon>
        </div>
        <span class="my-auto mx-2">
            Dark Mode
        </span>
    </div>
    <span class="spacer"></span>
    <div (click)="$event.stopPropagation()" class="m-auto">
        <app-cx-slide-toggle [(Checked)]="Checked" (Change)="changeTheme()"></app-cx-slide-toggle>
    </div>
</div>