<div *ngIf="(vm$ | async) as vm" class="container in-the-middle" dir="{{vm.ActiveLang.dir}}">
    <div class="row text-center">
        <div class="m-auto col-sm-12 col-md-9 col-lg-7 col-xl-6">
            <router-outlet></router-outlet>
            <div class="row mt-3 mx-1">
                <div class="">
                    <!-- <mat-select [value]="vm.ActiveLang.key" class="custom-mat-select"
                        (valueChange)="ChangeLang($event)">
                        <mat-option *ngFor="let lang of vm.AvailableLangs" [value]="lang.key">
                            {{ lang.name }}
                        </mat-option>
                    </mat-select> -->
                    <select [value]="vm.ActiveLang.key" class="select fg-text"
                        (change)="ChangeLang($event.target.value)">
                        <option *ngFor="let lang of vm.AvailableLangs" class="bg-app-bar" [value]="lang.key"
                            [selected]="vm.ActiveLang.key === lang.key">
                            {{ lang.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>