@import "variables";

.search {
  border-radius: 0 0 0.5rem 0.5rem;
  min-width: 351px;
  min-height: 400px;
  background-image: url("../../../assets/svg/bg-search.svg");
  background-attachment: local;
  background-size: contain;
  background-repeat: no-repeat;
  // [dir="ltr"] :host & {
  box-shadow: rgba(0, 0, 0, 0.2) 6px 12px 12px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 0px inset !important;
  // }
  [dir="rtl"] :host & {
    box-shadow: rgba(0, 0, 0, 0.2) -6px 12px 12px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 0px inset !important;
  }
  @media (map-get($mat-grid-breakpoints, xs)) {
    border-radius: none;
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
