@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "styles/fixed";
@import "styles/core";

// Create the theme object (a Sass map containing all of the palettes).
$light-theme: mat-light-theme($Maktoob-primary, $Maktoob-accent, $Maktoob-warn);
$dark-theme: mat-dark-theme($Maktoob-primary, $Maktoob-accent, $Maktoob-warn);

@include global-theme($light-theme, $grid-breakpoints, $mat-grid-breakpoints);

.dark-mode {
  @include global-theme($dark-theme, $grid-breakpoints, $mat-grid-breakpoints);
}

.font {
  font-family: $font-family;
}
