@import "variables";

* {
  box-sizing: border-box !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-display: swap;
}

// remove blue box on mobiles
input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo {
  width: 48px;
  height: 48px;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}

.scale-x1-25 {
  transform: scale(1.25);
}
.scale-x1-5 {
  transform: scale(1.5);
}
.scale-x2 {
  transform: scale(2);
}
.scale-x3 {
  transform: scale(3);
}

.scale-x4 {
  transform: scale(4);
}

[dir="rtl"] .rtl-rotate-180 {
  transform: rotate(180deg);
}

[dir="ltr"] .ltr-rotate-180 {
  transform: rotate(180deg);
}

.spacer {
  flex: 1 1 auto;
}

.cursor-pointer {
  cursor: pointer;
}

// ---------------- fix angular material issues ---------------

// to delete mat card header text from mat card header
.mat-card-header-without-text .mat-card-header-text {
  display: none;
}

// for solve material slide toggle ripple errors
.mat-ripple-element {
  top: 0 !important;
  left: 0 !important;
}

.text-nm {
  font-size: 0.9375rem;
  font-weight: 500;
}

.text-lg {
  @extend .text-nm;
  font-size: 1.1rem;
}

.text-xlg {
  @extend .text-nm;
  font-size: 1.5rem;
}

.shadow-w {
  border-radius: 0.5rem;
  min-width: 355px;
  background-attachment: local;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba($color: #fff, $alpha: 0.09) 0px 0px 0px 1px inset;

  @media (map-get($mat-grid-breakpoints, xs)) {
    box-shadow: none;
    border-radius: none;
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
