@import "variables";

.control {
  border-radius: 0.5rem;
  min-width: 355px;
  background-attachment: local;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba($color: #fff, $alpha: 0.09) 0px 0px 0px 1px inset;

  @media (map-get($mat-grid-breakpoints, xs)) {
    box-shadow: none;
    border-radius: none;
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
